* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url(churchhhh.jpg) center/cover no-repeat;
    min-height: 100vh;
}

.main-header {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 30px 0;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    background: linear-gradient(to bottom, #FFFFFF, #FFA500);
}


.school-header {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-container, .right-container {
    display: flex;
    align-items: center;
  
    background: rgba(255,255,255,0.8);
    padding: 8px 15px;
    border-radius: 25px;
}

.tcgc-logo, .ics-logo {
    width: 30px;
    height: 30px;
}

.tcgc-text, .program-text {
    font-size: 16px;
    color: black;
    margin: 0;
    font-weight: 200;
}


.menu ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

ul li a:hover {
    color: blue;
}


.slider {
    width: 90%;
    max-width: 1000px;
    height: 400px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.9);
    position: relative;
}


.slides {
    display: flex;
    flex-direction: column;
    height: 1200px;
    animation: autoSlide 18s ease-in-out infinite;
}


.slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
}


.slide-text {
    width: 50%;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    padding-right: 20px;
    opacity: 0;
    animation: fadeText 3s ease forwards;
}

.slide img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


@keyframes fadeText {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@keyframes autoSlide {
    0% { transform: translateY(0); }
    33% { transform: translateY(0); }

    38% { transform: translateY(-400px); }
    66% { transform: translateY(-400px); }

    71% { transform: translateY(-800px); }
    100% { transform: translateY(-800px); }
}
