body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', serif;
}


.con{
    opacity: 0.3;
    display: block;
    width: 100%;
    height: 100%;
} 
.con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.center{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 2;
    width: 80%;
}


.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 20px;
    margin-top: 40px;
}


.center h1{
    font-size: 40px;
    text-shadow: 0 0 10px white;
}


.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 70%;
    text-align: center;
    color: black;
    font-weight: 600;
    z-index: 2;
    line-height: 1.5;
    text-shadow: 0 0 8px white;
}


.enter{
    border-radius: 20px;
    border-style: solid;
    font-size: 25px;
    text-align: center;
    background-color: darkgreen;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 25%;
    color: white;
    text-decoration: none;
    padding: 12px;
    display: block;
    transition: 0.3s ease;
}

.enter:hover{
    background-color: #0b4c0b;
    transform: translate(-50%, -52%);
}

.school-header {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-container, .right-container {
    display: flex;
    align-items: center;
  
    background: rgba(255,255,255,0.8);
    padding: 8px 15px;
    border-radius: 25px;
}

.tcgc-logo, .ics-logo {
    width: 30px;
    height: 30px;
}

.tcgc-text, .program-text {
    font-size: 16px;
    color: black;
    margin: 0;
    font-weight: 200;
    margin-bottom: 80%;
}

